@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #535974;
}

header {
	display: flex;
	padding: 15px;
	align-items: center;
	background-color: goldenrod;
	border-bottom: 2px solid white;
}
nav > * {
	margin-right: 15px;
	color: white;
	font-size: 17px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.main-icon {
	font-size: 25px;
	color: white;
	margin-right: 15px;
}

.form-container {
	background-color: white;
	width: 900px;
	margin: 0 auto; /* 115px auto */
	border-radius: 10px;
	margin-top: 25px;
}
form {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}
form * {
	font-family: 'Poppins', sans-serif;
}

input {
	resize: vertical;
	padding: 2px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	column-gap: 10px;
}
button {
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	margin-bottom: 0;
	flex: 1 1 0px;
	padding: 5px;
	border: 1px solid #ccc;
}
button:hover {
	background-color: #535974;
	color: white;
}

.editor-container {
	margin-bottom: 6px;
	height: 342px;
}
.editor-box {
	height: 300px;
}

.body-label,
h2 {
	margin-bottom: 5px;
}

.editor-error {
	color: red;
	margin-bottom: 4px;
}

.view-note-container {
	width: 900px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 15px 20px 20px;
	border-radius: 10px;
	background-color: white;
}
.view-note {
	border: 1px solid black;
	padding: 10px;
}

.ql-color {
	padding-top: 1.5px;
}
.ql-clean,
.ql-underline {
	transform: scale(0.98);
	margin-top: 1px;
}

.notes-container {
	width: 1075px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 25px 13px 0;
}
.not-found-msg {
	color: white;
}
.note-container {
	background-color: white;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	width: 325px;
	margin-bottom: 18px;
}
.icon-container {
	display: flex;
	width: 160px;
	margin: 0 auto;
	padding: 7px 10px 4px 10px;
	justify-content: space-evenly;
	font-size: 25px;
	position: relative;
}
p em {
	margin-right: 10px;
}
.date-time {
	margin: 2px 1px 0 0;
}

.copy-icon:hover {
	cursor: pointer;
	color: goldenrod;
}
.search-icon:hover {
	cursor: pointer;
	color: #6667ab;
}
.edit-icon:hover {
	cursor: pointer;
	color: #86a59c;
}
.delete-icon:hover {
	cursor: pointer;
	color: #cc2936;
}
